<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Raleway|Romanesco|Source+Sans+Pro" rel="stylesheet">
link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
* {
    color: #000;
}
.header {
    background-image: url(/images/m%20view.jpg);
    background-size: cover;
    /*background-image: url(/images/Website%20pic.jpg);
    background-size: cover;
    width: auto;
    height: auto;*/
    padding: 18.5%;
    margin: -1.9%;
}
h2 {
    text-align: left top;
    font-family: 'Engagement', cursive;
    font-size: 3em;
    position:absolute;
    top: 10%;
    left: 10%;
    margin: -3em;
}
h1 {
    text-align: right;
    font-family: 'Romanesco', cursive;
    font-size: 40%;
    margin-bottom: -11%;
    text-align: right;
    position:absolute;
    left: 35%;
    
}
ul {
    list-style-type: none;
    float: auto;
    width: auto ;
    height: inherit;
    display: block;
    padding: 10px;
    overflow: hidden;
    padding: inherit;
    
}
li {
    display: inline-block;
    padding: 25px;
    overflow: hidden;
    
}
li a:hover:not(.active) {
    background-color: #F0D6BD;
    padding: inherit;
    color: #000;
    margin: inherit;
    clear: right;
}
 .active {
    background-color: #F0D6BD;
    padding: inherit;
    color: #000;
}
nav {
    text-align: center;
    align-content: center;
    /*border-bottom: solid 30px #EE7ECD;*/
}
nav, li, ul, a {
    background: white /*#006AB2*/;
    color: #000;
    font-weight: 800;
}
.nav{
    margin: -1% -20%;
    page-break-after: always;
    padding: -2% -10%;
}

body {
    background-image: url(/images/blue%20flowers.jpg);
    background-size: cover;
    
}